@{
    ViewData["Title"] = "Server Console";
}
<div class="section section-lg section-expanded" id="create-server-section">
    <div class="section-header">
        <h3>Console</h3>
    </div>
    <div class="section-body">
        <div class="row">
            <div id="console-view"></div>
        </div>

        <div class="row">
            <div class="col" style="
        display: inherit;
        height: 25px;
        width: 100%;
        background-color: #191919;
        color: white;
        outline: 1px solid #282828;
        ">
                <p>></p>
                <input type="text" name="console-input" id="console-input" placeholder="/help" onkeypress="SendConsoleCommand(event, this);">
            </div>
        </div>

    </div>
</div>

<script>
    $('#console-view').load("/Template/Console/Text");
    $('#console-view')[0].scrollTop = $('#console-view')[0].scrollHeight;
    var timer = setInterval(() => {
        try {

            $('#console-view').load("/Template/Console/Text")
            $('#console-view')[0].scrollTop = $('#console-view')[0].scrollHeight;
        } catch{
            clearInterval(timer);
        }
    }, 500);
</script>