@{
    Layout = "";
}
<style>
    body {
        color: white;
        font-family: 'Roboto', sans-serif;
    }
</style>
@try
{
    foreach (string s in com.drewchaseproject.net.asp.mc.OlegMC.Library.Data.Values.Singleton.SelectedServer.ServerConsole)
    {
        <p>@s</p>
    }
}
catch
{
    com.drewchaseproject.net.asp.mc.OlegMC.Library.Data.Values.Singleton.SelectedServer.ServerConsole.Clear();
}