
<div id="navigation_side_bar">
    @Html.Partial("_SideBar")
</div>
@{
    ViewData["ShowSideBar"] = true;
}
<div class="container">
    <main role="main" class="pb-3">
        <div id="main-area">
        </div>
    </main>
</div>
<div id="background-tasks" style="display:none"></div>
<script>
    $('#main-area').load(`/Template/Dashboard`)
</script>