
<div id="navigation_side_bar">
    @Html.Partial("_SideBar")
</div>
@{
    ViewData["ShowSideBar"] = true;
}
<div class="container noselect">
    <main role="main" class="pb-3" style="position: absolute; width:98%;left:0px">
        <div id="main-area" class="center">
        </div>
    </main>
</div>
<div id="background-tasks" style="display:none"></div>
<script>
    $('#main-area').load(`/Template/dashboard`)
</script>