@{
     ViewData["Title"] = "Proflies";
}
<script>
    window.onload = function () {
        LoadView(2);
    }
</script>
<div class="section section-lg section-expanded" id="server-list-section">
    <div class="section-header">
        <h3>Profiles</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="server-item">
                <div class="row">
                    <div class="col-xl-7">
                        <p class="profile-name">Latest Server</p>
                    </div>
                    <button class="btn btn-outline-light btn-download-profile">DOWNLOAD</button>
                </div>
            </li>
            <li class="server-item">
                <div class="row">
                    <div class="col-xl-7">
                        <p class="profile-name">1.15.2</p>
                    </div>
                    <button class="btn btn-outline-light btn-download-profile">DOWNLOAD</button>
                </div>
            </li>
            <li class="server-item">
                <div class="row">
                    <div class="col-xl-7">
                        <p class="profile-name">1.14.4</p>
                    </div>
                    <button class="btn btn-outline-light btn-download-profile">DOWNLOAD</button>
                </div>
            </li>
        </ul>
    </div>
</div>